/* * * * * * * * * * * * * * * * * * * * * * * * * * * * Global * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* Imports */
/*@font-face {*/
/*    font-family: 'Source Code Pro', monospace;*/
/*    src: url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');*/
/*}*/

/* Root */
:root {
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

/* Page Body */
body {
    /* Font Face */
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    font-size: large;
    color: black;

    /* Main Content Space */
    width: 100vw;
    height: 100vh;
    padding: 0 21%;
    margin: 0;

    display: flex;
    flex-direction: column;

    /* Default Background */
    background: white;

    /* Page Transitions */
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 60px;
    text-align: left;
}
.headline {
    text-align: center;
    letter-spacing: 1px;
    margin: 3rem 0;
}
.headline .space {
    display: none;
}

main {
    flex: 1 0 auto;
    text-align: center;
}



p {
    text-align: justify;
    text-justify: inter-word;
}
a:hover {
    text-decoration: none;
}

/* Navigation Bar & Footer */
nav {
    /*font-weight: 400;*/
    font-size: x-large;
}
.navbar-brand {
    font-size: xx-large;
}
footer {
    margin-top: 10px;
    font-size: small;
    color: dimgrey;
    flex-shrink: 0;
}
nav a, footer a {
    transition: 0.3s ease;
}
.nav-link .active {
    cursor: default;
}

img {
    border-radius: 2px 2px 0 0;
    object-fit: contain;
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
    transition: 0.3s;
}
img:hover {
    transform: scale(1.02);
    /*box-shadow: 0 4px 16px 7px rgba(0,0,0,0.2);*/
}

/* Misc */
.hline {
    display: block;
    width: 90%; /* Set to desired length. */
    margin: 10px auto;
    border-bottom: 1px solid dimgrey;
}
.vline {
    display: block;
    height: 18px; /* Set to desired length. */
    margin: auto 10px;
    border-left: 1px solid dimgrey;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * Responsiveness * * * * * * * * * * * * * * * * * * * * * * * * * */

/* Mobile */
@media screen and (max-width: 767px) {

}
@media screen and (max-width: 410px) {

}
@media (max-width: 60rem) {
    body {
        padding: 0 5%;
    }
    .headline br {
        display: none;
    }
    .headline .space {
        display: inline;
    }
}

/* Desktop */
@media screen and (min-width: 768px) {

}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * Animations * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* Fade/Blur In */
@keyframes fadeIn {
    from {
        opacity: 0;
        filter: blur(5px);
    }
    to {
        opacity: 1;
        filter: none;
    }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * Colour * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.red {
    color: #E91878;
    background: #E91878;
    background: linear-gradient(45deg, #E91878, #FC8829);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.blue {
    color: #931DE7;
    background: #931DE7;
    background: linear-gradient(45deg, #931DE7, #118BF5);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.green {
    color: #02A9C1;
    background: #02A9C1;
    background: linear-gradient(45deg, #02A9C1, #24D91C);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}